# 파이썬 리스트 51-70

###  append() insert() del

In [2]:
#051 리스트 생성
#2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)
#순위 	영화
#1 	닥터 스트레인지
#2 	스플릿
#3 	럭키

movie_rank = ["닥터 스트레인지", "스플릿","럭키"]
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [3]:
#052 리스트에 원소 추가
#051의 movie_rank 리스트에 "배트맨"을 추가하라.
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [4]:
#053
#movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.

movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1,"슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [5]:
#054
#movie_rank 리스트에서 '럭키'를 삭제하라.

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [6]:
#055
#movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

### lang연산 max/min sum len-데이터 갯수

In [9]:
#056
#lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.
#실행 예:langs
#['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

lang = lang1+lang2
print(lang)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [13]:
#057
#다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)
#실행 예:
#max:  7
#min:  1
    
nums = [1, 2, 3, 4, 5, 6, 7]

print("max: ",max(nums))
print("min: ", min(nums))

max:  7
min:  1

In [14]:
#058
#다음 리스트의 합을 출력하라.
#실행 예:15

nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [15]:
#059
#다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [16]:
#060
#다음 리스트의 평균을 출력하라.
#실행 예:3.0

nums = [1, 2, 3, 4, 5]
average = sum(nums)/len(nums)
print(average)

3.0

In [1]:
#061
#price 변수에는 날짜와 종가 정보가 저장돼 있다. 
#날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)
#출력 예시:[100, 130, 140, 150, 160, 170]

price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [3]:
#062
#슬라이싱을 사용해서 홀수만 출력하라.
#실행 예:[1, 3, 5, 7, 9]

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [5]:
#063
#슬라이싱을 사용해서 짝수만 출력하라.
#실행 예:[2, 4, 6, 8, 10]

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(nums[1::2])

[2, 4, 6, 8, 10]

In [6]:
#064
#슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.
#실행 예: [5, 4, 3, 2, 1]

nums = [1, 2, 3, 4, 5]

print(nums[::-1])

[5, 4, 3, 2, 1]

In [10]:
#065
#interest 리스트에는 아래의 데이터가 바인딩되어 있다.
#interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
#출력 예시: 삼성전자 Naver

interest = ['삼성전자', 'LG전자', 'Naver']

print(interest[0], interest[2]) # 같이 출력
print(interest[::2])   # 따로 출력된다!!

삼성전자 Naver
['삼성전자', 'Naver']

### join 메서드 - 리스트에 특정 구분자를 추가하여 문자열로 변환

In [12]:
#066 join 메서드
#interest 리스트에는 아래의 데이터가 바인딩되어 있다.
#interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
#출력 예시: 삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [13]:
#067 join 메서드
#interest 리스트에는 아래의 데이터가 바인딩되어 있다.
#interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
#출력 예시: 삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [16]:
#068 join 메서드
#interest 리스트에는 아래의 데이터가 바인딩되어 있다.
#join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.
'''
출력 예시:
삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우
'''
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

### 문자열 split - 문자열에 특정 구분자를 기준으로 리스트로 변환

In [18]:
#069 문자열 split 메서드
#회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다. 
#이를 interest 이름의 리스트로 분리 저장하라.

#실행 예시
#print(interest)
#['삼성전자', 'LG전자', 'Naver']

string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

### 리스트 정렬 (sorted)
- 리스트.sort() : 순서대로 정렬 /오름차순
- 리스트.reverse() : 리스트 순서 반대로 정렬 
    - 리스트.sort(reverse=True) : 내림차순

In [21]:
#070 리스트 정렬
#리스트에 있는 값을 오름차순으로 정렬하세요.

data = [2, 4, 3, 1, 5, 10, 9]
data_up = sorted(data)
print(data_up)

[1, 2, 3, 4, 5, 9, 10]

In [22]:
#070-1 리스트 정렬
#리스트에 있는 값을 오름차순으로 정렬하세요.

data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [24]:
#070 리스트 정렬
#리스트에 있는 값을 내림차순으로 정렬하세요.

data = [2, 4, 3, 1, 5, 10, 9]
data_down = sorted(data,reverse=True)
print(data_down)

[10, 9, 5, 4, 3, 2, 1]