# 파이썬 문자열 021-050

In [38]:
#021 문자열 인덱싱
#letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.
#실행 예 ) p t
letters = 'python'

print(letters[0],letters[2])

p t

In [39]:
#022 문자열 슬라이싱
#자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.
# 실행 예: 2210
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [40]:
#023 문자열 인덱싱
#아래의 문자열에서 '홀' 만 출력하세요.
#실행 예: 홀홀홀
string = "홀짝홀짝홀짝"  
print(string[0:6:2])      #시작은 0부터 6까지 2칸씩 띄어서 출력
print(string[::2])

홀홀홀
홀홀홀

 print(string[0:6:2])  
 **시작은 0부터 6까지 2칸씩 띄어서 출력**

In [41]:
#024 문자열 슬라이싱
#문자열을 거꾸로 뒤집어 출력하세요.
#실행 예: NOHTYP
string = "PYTHON"
print(string[::-1])  # -1은 뒤집기

NOHTYP

In [42]:
#025 문자열 치환
#아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
#실행 예 010 1111 2222
phone_number = "010-1111-2222"
a = phone_number.replace("-"," ")
print(a)

010 1111 2222

문자열은 한번 생성되면 변경 불가 !! 하지만 **.replace메소드 이용**하면 변경 가능

In [43]:
#026 문자열 다루기
#25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.
#실행 예 01011112222
number= a.replace(" ","")
print(number)

01011112222

In [44]:
#027 문자열 다루기
#url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.
#실행 예: kr

url = "http://sharebook.kr"
print(url[-2:])
kr = url.split(".")    
print(kr[1])      #split하여 list로 저장된 값 중 두번째

kr
kr

kr = url.split(".")   
**.split -> ()단위로 나눠서 list로 저장한다**

In [45]:
#028 문자열은 immutable
#아래 코드의 실행 결과를 예상해보세요.

lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

Python으로 바뀐다 (X) **문자열은 수정할 수 없다!!!!**

In [46]:
#029 replace 메서드
#아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.
#실행 예: Abcdfe2A354A32A
string = 'abcdfe2a354a32a'
string = string.replace('a','A')   ##변수에 할당해서 새로운 것으로 만들어줌
print(string)
print(type(string))

Abcdfe2A354A32A
<class 'str'>

In [47]:
#030 replace 메서드
#아래 코드의 실행 결과를 예상해보세요.

string = 'abcd'
string.replace('b', 'B')   ##아무 변수도 할당하지 않고 그냥 바꿔주기만 하면 원래의 변수에 할당된 값이 나타난다.
print(string)
#aBcd

abcd

#### 아무 변수도 할당하지 않고 그냥 바꿔주기만 하면 원래의 변수에 할당된 값이 나타난다.

In [50]:
#031 문자열 합치기
#아래 코드의 실행 결과를 예상해보세요.

a = "3"
b = "4"
print(a + b)
# 7    이 아니라 ""로 되어있어서 문자열로 취급된다.

34

문자 3 과 문자 4가 합쳐진다. 따라서 34 !

In [51]:
#032 문자열 곱하기
#아래 코드의 실행 결과를 예상해보세요.
print("Hi" * 3)
#HiHiHi

HiHiHi

In [52]:
#화면에 '-'를 80개 출력하세요.
#실행 예:
#--------------------------------------------------------------------------------
print("-"*80)

--------------------------------------------------------------------------------

In [53]:
#034 문자열 곱하기
#변수에 다음과 같은 문자열이 바인딩되어 있습니다.

t1 = 'python'
t2 = 'java'
t3 = t1 + '' + t2 + ''
print(t3*4)

pythonjavapythonjavapythonjavapythonjava

In [54]:
#035 문자열 출력
#변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.
#이름: 김민수 나이: 10
#이름: 이철희 나이: 13

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f"이름 : {name1} 나이: {age1}")
print(f"이름 : {name2} 나이: {age2}")

이름 : 김민수 나이: 10
이름 : 이철희 나이: 13

In [55]:
#036 문자열 출력

#문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요. 
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [56]:
#037 문자열 출력
#파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요. 

print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [57]:
#038 컴마 제거하기
#삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

상장주식수 = "5,969,782,550"
a= 상장주식수.replace(",","")
a=int(a)
print(a)
print(type(a))

5969782550
<class 'int'>

In [58]:
#039 문자열 슬라이싱

#다음과 같은 문자열에서 '2020/03'만 출력하세요.

분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [59]:
#040 strip 메서드

#문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

data = "   삼성전자    "
data1 = data.replace(" ", "")
print(data1)

삼성전자

+ 문자열에서 **strip( ) 메서드**를 사용하면 좌우의 공백을 제거할 수 있습니다. 이때 원본 문자열은 그대로 유지되고 공백이 제거된 새로운 문자열이 반환됩니다.

data = "   삼성전자    "
data1 = data.strip()
print(data1)

### upper() lower() capitalize()

In [60]:
#041 upper 메서드
#다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

ticker = "btc_krw"
ticker = ticker.upper()
print(ticker)

BTC_KRW

In [61]:
#042 lower 메서드
#다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

ticker = "BTC_KRW"
ticker = ticker.lower()
print(ticker)

btc_krw

In [62]:
#043 capitalize 메서드
#문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요. 
a='hello'
a1 = a.capitalize()
print(a1)

Hello

### 파일명 끝/처음 endswith() startswith()

In [63]:
#044 endswith 메서드
#파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"
print(file_name.endswith("xlsx"))

True

In [64]:
#045 endswith 메서드
#파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"
print(file_name.endswith(("xlsx","xls")))    ##튜플 이용 / 괄호 하나 더!

True

In [65]:
#046 startswith 메서드
#파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

file_name = "2020_보고서.xlsx"
print(file_name.startswith("2020"))

True

### 분리 split() 오른쪽 공백제거 rstrip() / lstrip()

In [69]:
#047 split 메서드
#다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

a = "hello world"
print(a.split())

['hello', 'world']

In [70]:
#048 split 메서드
#다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

ticker = "btc_krw"
print(ticker.split("_"))

['btc', 'krw']

In [71]:
#049 split 메서드
#다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

date = "2020-05-01"
print(date.split("-"))

['2020', '05', '01']

In [72]:
#050 rstrip 메서드
#문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

data = "039490     "
print(data.rstrip())

039490