#  Python 300제  
+ https://wikidocs.net/7014  
+ 매주 60문제 * 5주 = 300 문제 풀기!!

# 파이썬 시작하기 001 - 010

In [1]:
#001 print 기초
# 화면에 Hello World 문자열을 출력하세요.
print("Hello World")

Hello World

In [2]:
#002 print 기초
# 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)
print("Mary's cosmetics")

Mary's cosmetics

In [3]:
#003 print 기초
# 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)
# 신씨가 소리질렀다. "도둑이야".

print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [5]:
#004 print 기초
# 화면에 "C:\Windows"를 출력하세요.
# *C:\Windows*만 출력하면 된다
print("C:\Windows")

C:\Windows

In [7]:
#005 print 기초
# 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.

print("안녕하세요.\n만나서\t\t반갑습니다.")

# \t는 탭을 의미한다.
# \n은 줄바꿈을 의미한다.

안녕하세요.
만나서		반갑습니다.

In [8]:
# 006 print 기초
# print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.

print ("오늘은", "일요일")

#오늘은(공백있음) 일요일 이라고 출력 될 것이다.

오늘은 일요일

In [11]:
# 007 print 기초
# print() 함수를 사용하여 다음과 같이 출력하세요.
# naver;kakao;sk;samsung

print("naver;kakao;sk;samsung")
print("naver","kakao","sk","samsung", sep=";") 
#sep 인자로 ;를 입력하여 공백 대신 출력하도록 만든다 !!

naver;kakao;sk;samsung
naver;kakao;sk;samsung

+ **sep 인자로 ;를 입력하여 공백 대신 출력하도록 만든다 !!**

In [12]:
# 008 print 기초
# print() 함수를 사용하여 다음과 같이 출력하세요.
# naver/kakao/sk/samsung

print("naver","kakao","sk","samsung",sep = "/")

naver/kakao/sk/samsung

In [14]:
#009 print 줄바꿈
#다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.
print("first");print("second")

print("first", end=""); print("second")

first
second
firstsecond

+ **end=""를 이용하면 문장 출력 후 마지막에 무엇을 쓰고 끝낼지 정한다**

In [17]:
# 010 연산 결과 출력
# 5/3의 결과를 화면에 출력하세요.

print(5 /3 )  
print(5//3)
# // 나누기(정수형)
# / 나누기 (실수형)

1.6666666666666667
1

# 파이썬 변수 011-020

In [3]:
#011 변수 사용하기
#삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [4]:
#012 변수 사용하기
#다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

#항목	값
#시가총액	298조
#현재가	50,000원
#PER	15.79

시가총액 = 298000000000
현재가 = 500000
PER = 15.79

In [6]:
#013 문자열 출력
#변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

s = "hello"
t = "python"
#두 변수를 이용하여 아래와 같이 출력해보세요.

#실행 예:
#hello! python

print(f"{s}! {t}" )    # 이 방법 계속 사용하기!!! 가장 간단하다.

hello! python

**print(f"{s}! {t}" )**  
이 방법 계속 사용하기!!! 가장 간단하다.

In [8]:
#014 파이썬을 이용한 값 계산
#아래 코드의 실행 결과를 예상해보세요.

#>> 2 + 2 * 3

#예상 . 8
print(2+2*3)

8

In [9]:
#015 type 함수
#type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

#>> a = 128
#>> print (type(a))
#<class 'int'>
#아래 변수에 바인딩된 값의 타입을 판별해보세요.

a = "132"
print(type(a))  #""안에 들어있으면 무조건 문자열 취급한다!!!!

<class 'str'>

**""안에 들어있으면 무조건 문자열 취급한다!!!!**

In [15]:
#016 문자열을 정수로 변환
#문자열 '720'를 정수형으로 변환해보세요.
num_str = "720"
num_int = int(num_str)
print(num_int)
print(type(num_int))

720
<class 'int'>

In [16]:
#017 정수를 문자열 100으로 변환
#정수 100을 문자열 '100'으로 변환해보세요.

num = 100
num_str = str(num)
print(type(num_str))

<class 'str'>

In [18]:
#018 문자열을 실수로 변환
#문자열 "15.79"를 실수(float) 타입으로 변환해보세요.
num = "15.79"
num = float(num)
print(type(num))

<class 'float'>

In [19]:
#019 문자열을 정수로 변환
#year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

year = "2020"
year = int(year)
print(f"최근 3년의 연도 {year-1},{year-2},{year-3}")

최근 3년의 연도 2019,2018,2017

In [1]:
#020 파이썬 계산
#에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

price =48584
price_all = price*36
print(price_all)

1749024