# 파이썬 반복문 for/while (130-200)
- for문은 횟수가 정해져 있거나, 횟수가 상대적으로 적을 때
- while문은 무한 루프 형태 , 횟수가 상대적으로 클 때

In [1]:
#131
#for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)
    
#사과,귤,수박

사과
귤
수박

In [2]:
#132
#for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####,#####,#####

#####
#####
#####

In [5]:
#133
#다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.

#for 변수 in ["A", "B", "C"]:
#  print(변수)

print("A")
print("B")
print("C")

A
B
C

In [6]:
#134
#for문을 풀어서 동일한 동작을 하는 코드를 작성하라.

#for 변수 in ["A", "B", "C"]:
#  print("출력:", 변수)

변수 = "A"
print("출력:", 변수)
변수 = "B"
print("출력:", 변수)
변수 = "C"
print("출력:", 변수)

출력: A
출력: B
출력: C

In [7]:
#135
#for문을 풀어서 동일한 동작을 하는 코드를 작성하라.

#for 변수 in ["A", "B", "C"]:
#  b = 변수.lower()
#  print("변환:", b)

변수 = "A"
b=변수.lower()
print("변환:", b)

변수 = "B"
b=변수.lower()
print("변환:", b)

변수 = "C"
b=변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c

In [8]:
#136 다음 코드를 for문으로 작성하라.

#변수 = 10
#print(변수)
#변수 = 20
#print(변수)
#변수 = 30
#print(변수)

for 변수 in [10,20,30]:
    print(변수)

10
20
30

In [9]:
#137 다음 코드를 for문으로 작성하라.
#print(10)
#print(20)
#print(30)

for i in [10,20,30]:
    print(i)

10
20
30

In [10]:
#138 다음 코드를 for문으로 작성하라.
for i in [10,20,30]:
    print(i)
    print("------")

10
------
20
------
30
------

In [11]:
#139
#다음 코드를 for문으로 작성하라.
print("++++")
for i in [10,20,30]:
    print(i)

++++
10
20
30

In [12]:
#140
#다음 코드를 for문으로 작성하라.
for i in [1,2,3,4]:
    print("-------")

-------
-------
-------
-------

In [14]:
#141
#다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 
#단 부가세는 10원으로 가정한다.

리스트 = [100, 200, 300]
for i in 리스트:
    print(i+10)

110
210
310

In [16]:
#142
#for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.

리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
    print("오늘의 메뉴:",i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [17]:
#143
#리스트에 주식 종목이름이 저장돼 있다.

리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
    print(len(i))

6
4
4

In [18]:
#144
#리스트에는 동물이름이 문자열로 저장돼 있다.

리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i,len(i))

dog 3
cat 3
parrot 6

In [19]:
#145
#리스트에 동물 이름 저장돼 있다.

리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0])

d
c
p

In [21]:
#146
#리스트에는 세 개의 숫자가 바인딩돼 있다.

리스트 = [1, 2, 3]
for i in 리스트:
    print(f"3 x {i}")

3 x 1
3 x 2
3 x 3

In [22]:
#147
#리스트에는 세 개의 숫자가 바인딩돼 있다.

리스트 = [1, 2, 3]
for i in 리스트:
    print(f"3 x {i} = {3*int(i)}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [23]:
#148
#리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
for i in 리스트[1:]:
    print(i)

나
다
라

In [24]:
#149
#리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
for i in 리스트[::2]:
    print(i)

가
다

In [25]:
#150
#리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
for i in 리스트[::-1]:
    print(i)

라
다
나
가

In [26]:
#151
#리스트에는 네 개의 정수가 저장돼 있다.
#for문을 사용해서 리스트의 음수를 출력하라.

리스트 = [3, -20, -3, 44]
for i in 리스트:
    if i <0:
        print(i)

-20
-3

In [27]:
#152
#for문을 사용해서 3의 배수만을 출력하라.

리스트 = [3, 100, 23, 44]
for i in 리스트:
    if i % 3 ==0:
        print(i)

3

In [28]:
#153
#리스트에서 20 보다 작은 3의 배수를 출력하라

리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
    if (i %3==0) and (i<20):
        print(i)

12
18

In [29]:
#154
#리스트에서 세 글자 이상의 문자를 화면에 출력하라

리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
    if len(i)>=3:
        print(i)

study
python
language

In [32]:
#155
#리스트에서 대문자만 화면에 출력하라.

리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper() == True:            ## 다시보기! .isupper()
        print(i)

A
D

In [33]:
#156
#리스트에서 소문자만 화면에 출력하라.

리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper() == False:            ## 다시보기! .isupper()
        print(i)

b
c

In [36]:
#157
#이름의 첫 글자를 대문자로 변경해서 출력하라.

리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0].upper())

D
C
P

In [38]:
#158
#파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. 
#(힌트: split() 메서드)

리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    name = i.split('.')[0]
    print(name)

hello
ex01
intro

In [42]:
#159
#파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    name,file = i.split('.')
    if file == "h":
        print(name)

intra
define

In [43]:
#160
#파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    name,file = i.split('.')
    if file == "h" or "c":
        print(name)

intra
intra
define
run

In [45]:
#161
#for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.

for i in range(100):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [48]:
#162
#월드컵은 4년에 한 번 개최된다. 
#range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [50]:
#163
#1부터 30까지의 숫자 중 3의 배수를 출력하라.
for i in range(1,31):
    if i % 3 ==0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [52]:
#163 - 1 
#1부터 30까지의 숫자 중 3의 배수를 출력하라.
for i in range(3,31,3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [58]:
#164
#99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.

for i in range (99,-1,-1):
    print(i,end=" ")

99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0

In [60]:
#165
#for문을 사용해서 아래와 같이 출력하라.
for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [61]:
#166
#구구단 3단을 출력하라.
for i in range(1,10):
    print(f"3x{i} = {3*i}")

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

In [62]:
#167
#구구단 3단을 출력하라. 단 홀수 번째만 출력한다.
for i in range(1,10,2):
    print(f"3x{i} = {3*i}")

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

In [64]:
#168
#1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.
num = 0
for i in range(11):
    num += i                   # += 이용!!! num = num + i
print("합:" ,num)

합: 55

In [66]:
#169
#1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.

num = 0
for i in range (1,11,2):
    num += i
print("홀수의 합 :", num)

홀수의 합 : 25

In [67]:
#170
#1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.
num = 0
for i in range (11):
    num *= i
print("곱 :" ,i)

곱 : 10

In [1]:
#171
#아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [2]:
#172
#아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(i,price_list[i])

0 32100
1 32150
2 32000
3 32500

In [4]:
#173
#아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(3-i,price_list[i])

3 32100
2 32150
1 32000
0 32500

## ~~174 질문 해결^_^~~  
- for i in range(1,4) 인줄 알았는데 왜 2개만 출력될까요?
- for i in range(4) 로 바꿔주니 원하는 출력이 나타납니다. 
- 그럼에도 IndexError는 계속 나타 나네요ㅠㅠ
    - ***range(1,5)로 해야한다 : 마지막 값보다 -1 출력***
    - ***for문에서 i+1을 하게되면 원래 인덱스값보다 넘치게 된다 : IndexError***

In [5]:
#174-answer
price_list = [32100, 32150, 32000, 32500]
for i in range(1,4):
    print(90+10*i,price_list[i])

100 32150
110 32000
120 32500

In [2]:
#174
#아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]
for i in range(1,4):
    print(100+i*10,price_list[i+1])

110 32000
120 32500

IndexError: list index out of range

In [4]:
#174 -1
#아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(100+i*10,price_list[i+1])

100 32150
110 32000
120 32500

IndexError: list index out of range

In [16]:
#175
#my_list를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라"]
for i in range(3):
    print(my_list[i],my_list[i+1])

가 나
나 다
다 라

In [17]:
#176
#리스트를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라", "마"]
for i in [0,1,2]:
    print(my_list[i],my_list[i+1],my_list[i+2])

가 나 다
나 다 라
다 라 마

In [19]:
#177
#반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라"]
for i in range(3):
    print(my_list[3-i],my_list[2-i])

라 다
다 나
나 가

In [20]:
#178
#리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.

my_list = [100, 200, 400, 800]
for i in [0,1,2]:
    print(int(my_list[i+1])-int(my_list[i]))    #int 안써줘도 됨!!

100
200
400

In [22]:
#178 -1 (abs절댓값 이용)
#리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.

my_list = [100, 200, 400, 800]
for i in [0,1,2]:
    print(abs(my_list[i+1]-my_list[i]))   #abs이용!- 절댓값 구하기

100
200
400

## ~~179 질문 해결~~
- 1) i가 0일때 
    - : my_list[i:i+2] 는 my_list의 [0][1][2] => 100+200+300 이라고 생각하여 작성한 코드인데 어떤 부분이 틀렸나요?
        - ***#174와 똑같이 i=0일때 [i:i+2]라고 한다면 0,1까지일 뿐이다. 원한다면 [i:i+3]을 했어야함***
        - ***하지만 [i+2]라는 인덱스를 마음대로 썼다간, 인덱스값 초과로 IndexError발생할 듯 (지금은 안나지만) 주의할것***

In [7]:
#179 - answer
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(1,len(my_list)-1):
    print(abs((my_list[i-1])+(my_list[i])+(my_list[i+1]))/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [26]:
#179 - average()
#리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(4):
    print(sum(my_list[i:i+2])/3)

100.0
200.0
400.0
600.0

### ★ 자세히 보자 - 데이터 저장, 반복문으로 불러오기

In [30]:
#180
# 리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 
# 고가와 저가의 차를 변동폭이라고 정의할 때, low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []
for i in range(4):
    volatility.append(high_prices[i]-low_prices[i])
print(volatility)

[50, 100, 30, 80]

In [9]:
#181
#아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라.

apart = [["101호",'102호'],['201호','202호'],['301호','302호']]

In [14]:
#182
#아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.

stock = [['시가',100,200,300],['종가',80,210,330]]

In [15]:
#183
#아래 표를 stock 이름의 딕셔너리로 표현하라.시가를 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.
#종가 역시 key로 저장하고 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.

stock = {'시가': [100,200,300],'종가' : [80,210,330]}

In [16]:
#184
#아래 표를 stock 이라는 이름의 딕셔너리로 표현하라. 
#날짜를 key로 저장하고, 나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다. 첫 열이 날짜이다.

stock = {'10/10' : [80,110,70,90],'10/11' : [210,230,190,200]}

In [18]:
#185
#리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

# apart에서 변수a로 한 묶음씩 꺼낸 후, a묶음에서 또 하나씩 b로 꺼낸다.
for a in apart:
    for b in a:
        print(b,'호')

101 호
102 호
201 호
202 호
301 호
302 호

In [20]:
#186
#리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

for a in apart[::-1]:
    for b in a:
        print(b,'호')

301 호
302 호
201 호
202 호
101 호
102 호

In [21]:
#187
#리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

for a in apart[::-1]:
    for b in a[::-1]:
        print(b,"호")

302 호
301 호
202 호
201 호
102 호
101 호

In [23]:
#188
#리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

for a in apart:
    for b in a:
        print(b,'호','\n-----')
        #print('-'*5)    한 줄 띄어줌

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

# 189 질문 
- print('-'*5)를 b-for문 전,후에 입력했을 때, 나타나는 차이?

In [25]:
#189
#리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

for a in apart:
    print('-'*5)
    for b in a:
        print(b,'호')

-----
101 호
102 호
-----
201 호
202 호
-----
301 호
302 호

In [26]:
#189-answer
#리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

for a in apart:
    for b in a:
        print(b,'호')
    print('-'*5)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [27]:
#190
#리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

for a in apart:
    for b in a:
        print(b,'호')
print('-'*5)

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [28]:
#191
#data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

#수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.

for row in data:
    for col in row:
        print(col*1.00014,'원')

2000.28 원
3050.427 원
2050.2870000000003 원
1980.2772 원
7501.05 원
2050.2870000000003 원
2050.2870000000003 원
1980.2772 원
15452.163 원
15052.107 원
15552.177 원
14902.086000000001 원

In [29]:
#192
#191번의 출력 결과에 행단위로 "----" 구분자를 추가하라.

for row in data:
    for col in row:
        print(col*1.00014,'원')
    print('-'*4)

2000.28 원
3050.427 원
2050.2870000000003 원
1980.2772 원
----
7501.05 원
2050.2870000000003 원
2050.2870000000003 원
1980.2772 원
----
15452.163 원
15052.107 원
15552.177 원
14902.086000000001 원
----

### ★ 다시보자 - 배열 저장하기 
- 초깃값[__],append
    - 2차원 배열 2차 초깃값[__]
- 변수에 추가한다면 **+=** 이용하기

In [32]:
#193
#192 번 문제의 결괏값을 result 이름의 리스트에 1차원 배열로 저장하라.

result = []
for row in data:
    for col in row:
        result.append(col*1.00014)
    
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [36]:
#194
#191번 문제의 결괏값을 result 이름의 리스트에 2차원 배열로 저장하라. 
#저장 포맷은 아래와 같다. 각 행에 대한 데이터끼리 리스트에 저장되어야 한다.

result = []
for row in data:
    sub = []
    for col in row:
        sub.append(col*1.00014)
    result.append(sub)   
    
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

# 195질문 
- for col in row[3]: 를 했을 때는 왜 오류가 나는 걸까요?

In [1]:
#195
#ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
#화면에 종가데이터를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    print(row)   #__iter__ 라는 메소드가 없음
    for col in row[3]:
        print(col)

[100, 110, 70, 100]

TypeError: 'int' object is not iterable

In [45]:
for row in ohlc[1:]:
    print(row[3])

100
190
310

In [50]:
#196
#ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
#종가가 150원보다 큰경우에만 종가를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[3]>150:
        print(row[3])

190
310

In [52]:
#197
#ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
#종가가 시가 보다 크거나 같은 경우에만 종가를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[0]<= row[3]:
        print(row[3])

100
310

In [55]:
#198
#ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
#고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []
for row in ohlc[1:]:
    gap = row[1] - row[2]    #volatility.append(row[1]-row[2])
    volatility.append(gap)

print(volatility)

[40, 30, 10]

In [56]:
#199
#리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
#종가가 시가보다 높은 거래일의 OHLC는 [300, 310, 300, 310] 이다. 따라서 이 거래일의 변동성은 10 (310 - 300)이다.

for row in ohlc[1:]:
    if row[3]>row[0]:
        print(row[1]-row[2])

10

In [59]:
#200
#리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
#1일차 수익 0원 (100 - 100), 2일차 수익 -10원 (190 - 200), 3일차 수익 10원 (310 - 300) 이다.

profit = 0
for row in ohlc[1:]:
    profit += (row[0]-row[3])
    
print(profit)

0