# 파이썬 튜플 (71-80)
- 리스트처럼 여러 개의 데이터를 담아둘 때 사용
- 리스트는 [...] 사용, 튜플은 (...) 사용
- 리스트는 리스트 내의 값을 생성, 삭제, 변경 가능 // 튜플은 값을 바꿀 수 없다.

In [2]:
#071
#my_variable 이름의 비어있는 튜플을 만들라.

my_variable = ()
print(type(my_variable)) # 데이터 타입 확인

<class 'tuple'>

In [4]:
#072
#2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)
#순위 	영화
#1 	닥터 스트레인지
#2 	스플릿
#3 	럭키

movie_rank = ('닥터스트레인지','스플릿','럭키')

In [6]:
#073
#숫자 1 이 저장된 튜플을 생성하라.

num = (1)   #정수로 인식
print(type(num))

num_tuple = (1,)
print(type(num_tuple))   # 데이터 하나 저장되는 경우 ,쉼표 입력하기!!

<class 'int'>
<class 'tuple'>

In [11]:
#074
#다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.
'''
t = (1, 2, 3)
t[0] = 'a'

Traceback (most recent call last):
  File "<pyshell#46>", line 1, in <module>
    t[0] = 'a'
TypeError: 'tuple' object does not support item assignment
'''
print("튜플 안에 내용(원소_element)은 변경 불가하다!")

튜플 안에 내용(원소_element)은 변경 불가하다!

In [12]:
#075
#아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

t = 1, 2, 3, 4
print(type(t))

<class 'tuple'>

In [14]:
#076
#변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

t = ('a', 'b', 'c')
t = ('A','b','c')    #튜플은 수정 불가 -> 새로 만들면 그 전꺼 삭제됨
print(t)

('A', 'b', 'c')

In [15]:
#077
#다음 튜플을 리스트로 변환하라.

interest = ('삼성전자', 'LG전자', 'SK Hynix')
my_list = list(interest)
print(interest)   #튜플
print(my_list)    #리스트
print(type(my_list))

('삼성전자', 'LG전자', 'SK Hynix')
['삼성전자', 'LG전자', 'SK Hynix']
<class 'list'>

In [17]:
#078
#다음 리스트를 튜플로 변경하라.

interest = ['삼성전자', 'LG전자', 'SK Hynix']
my_tuple = tuple(interest)
print(my_tuple)    #튜플로 변환됨
print(type(my_tuple))

('삼성전자', 'LG전자', 'SK Hynix')
<class 'tuple'>

- 패킹(Tuple Packing) : 여러가지 데이터를 튜플로 묶는 것
- 언패킹(Tuple unPacking) : 튜플의 각 요소를 여러 개의 변수에 할당

In [18]:
#079 튜플 언팩킹
#다음 코드의 실행 결과를 예상하라.

temp = ('apple', 'banana', 'cake')
a, b, c = temp    # a,b,c라는 변수에 할당해줌
print(a, b, c)

apple banana cake

#### 튜플의 range - 범위 지정

In [22]:
#080 range 함수
#1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.
#(2, 4, 6, 8 ... 98)

even_num = tuple(range(2,99,2))
print(even_num)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)