# 변수

In [5]:
name = "이상미"
eng_name = "Sangmee Lee"
phone_number = "010-1234-5678"

In [6]:
#출력은 print 이용

#\n은 한 줄 띄우기
print (name, '\n',eng_name, '\n',phone_number)

#한 줄 띄우고 싶을 땐 빈 print 입력
print()

#\t는 tap키를 한 번 누른 것
print(name,'\t',eng_name,'\t', phone_number)

이상미
 Sangmee Lee
 010-1234-5678

이상미 	 Sangmee Lee 	 010-1234-5678

# 숫자

In [9]:
# int 는 정수
# float 는 실수 
number_1=1
number_2 =1.0

print("number_1의 타입", type(number_1))
print("number_2의 타입", type(number_2))

number_1의 타입 <class 'int'>
number_2의 타입 <class 'float'>

# 문자

In [11]:
#str 문자형
string_1 = "가나다라마바사"
string_2 = 'abcdefg'
string_3 = "가나ab다라cd"
string_4 = '1@#ed가나'

#따옴표 안에 있으면 다 문자가 된다. 1도 따옴표 안에 있으면 그냥 문자 처리 됨

print(1)
print('1') #같아 보이지만 타입이 다르다

print("string_1의 타입",type(string_1))
print("string_2의 타입",type(string_2)) #다 같다

1
1
string_1의 타입 <class 'str'>

In [ ]:
#한줄 출력
print('abcd', end = "")
print('efgh')    # 붙어서 나온다!!

#한 칸 띄우고 출력
print("abcd", end=" ")
print("efgh", end=" ") #따옴표 안에 한칸 띄우면 띄워서 print 된다
print("ijkl")

# 반올림

In [15]:
#2자리까지 출력 - 3번째 자리에서 반올림   
print("%.2f" %1.23456789)
#3자리까지 출력 - 4번째 자리에서 반올림   
print("%.3f" %1.23456789)


#변수명으로 넣기
pi = 3.141592
print("%.2f" %pi)     #2자리까지 출력 , 변수명

1.23
1.235
3.14

In [16]:
when = 10
where = "집"

print("나는 %d시에 %s에 간다" %(when, where)) # %d : digits %s:string     #비추 !
print("나는 {}시에 {}에 간다" . format(when,where)) # {}안에 format(변수)를 출력

print(f"나는 {when}시에 {where}에 간다") # 변수 출력 (f는 문법. 외우기)    ##!!!강추!!!##

나는 10시에 집에 간다
나는 10시에 집에 간다
나는 10시에 집에 간다

In [2]:
who = "형준"
where = 'home!'
when = 2

print(f"{who}(이)는 {where}에 {when}시까지 갈 것이다.")

형준(이)는 home!에 2시까지 갈 것이다.

In [3]:
#산술연산자

In [4]:
#더하기 +
#빼기 -
#곱하기 *
#나누기 /

a = 10
b= 2

print(a+b)
print(a-b)
print(a*b)
print(a/b)    #int/int 인데 왜 float 가 될까?
type (a/b)    #나누기 이용하면 나누어 떨어지더라도 float로 바뀐다

12
8
20
5.0

float

In [5]:
# % : 나머지를 구하는 것
# a를 b로 나누었을 때 나머지
print (a % b) 

#if a % 2 == 0: #짝수
#if a % 2 != 0: #홀수

0

In [6]:
# // : 몫을 구하는 것

In [8]:
import pandas as pd

data_frame = pd.DataFrame()
print(type(data_frame))

def temp() :
    print("temp 함수 사용")
temp()

<class 'pandas.core.frame.DataFrame'>
temp 함수 사용

In [11]:
#구구단 
num = int(input())
#input은 사용자에게 변수를 입력 받는 것
print(f"{num} 단")
print(f"{num} X 1 = {num*1}")
print(f"{num} X 2 = {num*2}")
print(f"{num} X 3 = {num*3}")
print(f"{num} X 4 = {num*4}")
print(f"{num} X 5 = {num*5}")
print(f"{num} X 6 = {num*6}")
print(f"{num} X 7 = {num*7}")
print(f"{num} X 8 = {num*8}")
print(f"{num} X 9 = {num*9}")

3
3 단
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27


# 리스트

In [12]:
#list
#set
#tuple - 
#bool - 참 거짓을 나타내는 DataType 


#자유롭게 담는 list
list_a = [1,'이',3 ]
print(list_a)
#dir - list 의 기능을 확인 해볼 수 있다.

[1, '이', 3]

# 인덱스

In [13]:
# 인덱스 - 파이썬에서 위치를 나타내는 숫자 
    #  - 1부터 시작이 아니라 0 부터 시작이다.
#중복 없이 담는 set
set_a = {1,1,2,3,3,4}
print(set_a)

{1, 2, 3, 4}

# 비교연산자

In [14]:
# == 같은지 비교
# != 다른지 비교 ( 다릅니까?)
# >= 부등호

#숫자만 비교 X!!!!
# 문자도, 다른 DataType도 비교 가능!

# is 비교  
 a is b => a 가 b 이면 True/ 아니면 False

In [21]:

# 정수일 경우 0 ~ 256까지는 주소값이 정해져있어서 각각 다른 변수에 숫자를 할당해도 is 비교 하였을때 True

a= [1,2,3]
b = 100
c = 100.0
d=b #(d는 b를 복사)
# 각 변수의 메모리 주소값을 찾는 법 :id()    - 할당 할 때마다 주소값은 달라진다. 
print(id(a))
print(id(b))
print(id(c))
print(id(d))    #복사 했으니 b와 같을 것!

140405322489120
94626333171552
140404652246000
94626333171552

In [25]:
print (a is b)
print (b is c)    # 주소 값은 다르다
print (b==c)      # 하지만 값은 같다 
print (b is d)   #복사 해서 주소가 같으니 True

False
False
True
True

# 논리연산자  
and  
or  
not

# 조건문  
if : 만약 ~     
elif : if가 아니라 elif 라면~  
else : 앞이 다 아니라면 else 실행

In [39]:
# if 마지막에는 : 표시
# 그 다음줄은 앞에 4칸 띄우기 (Indentation)

list_3 = "[1,2,3]"
if len(list_3) < 10 : #len() 길이 측정 함수, 리스트 같은 경우는 원소의 개수를 구하는 것과 같다
    print("list_3 : ", list_3)

list_3 :  [1,2,3]

# 반복문  
while : 조건을 만족하면 반복문 실행  
for :

In [41]:
# 끝에 : 붙이기
# 앞에 4칸 띄우기

list_1 = [1,2,3,4,5,6,7,8,9]


# 무한 루프 
# while문 강제로 끝내는 법 - break
# 조건문을 사용하여 조건을 만족하면 강제로 끝내기 
n= 10
while n >0 :
    print("n:" ,n)
    n= n-1
    # n이 5가 되는 순간 반복문 종료
    if n == 5 :
        break

n: 10
n: 9
n: 8
n: 7
n: 6